@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* Configurações globais */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Cor de fundo e cor da fonte. */
body,
html {
  background-color: #000;
  color: #fff;
}

/* Links */
a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}


/* CSS do index principal do projeto React. */