.dsmeta-red-btn {
    height: 45px;
    width: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;  /* Quando eu passar o mouse em cima vai mudar para a mãozinha. */
}

.dsmeta-red-btn img {
    width: 19px;
}
